<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Waluty</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<!-- The sidebar -->
<div class="sidebar">
    <p>Jesteś gościem</p>
    <nav>
    <a href="/" th:href="@{/}">Strona główna</a>
    <a href="/" th:href="@{/lokaty}">Lokaty</a>
    <a class="active" href="/" th:href="@{/kursy}">Kursy walut</a>
    <a href="/" th:href="@{/krypto}">Kryptowaluty</a>
    <a href="/" th:href="@{/login}">Zaloguj się</a>
    <p>Część teoretyczna</p>
    <a href="/" th:href="@{/opisEmerytury}">Emerytury</a>
    <a href="/" th:href="@{/opisLokaty}">Lokaty</a>
    <a href="/" th:href="@{/opisWaluty}">Waluty</a>
    <a href="/" th:href="@{/opisKrypto}">Kryptowaluty</a>
    <a href="/" th:href="@{/opisFunduszeInwestycyjne}">Fundusze Inwestycyjne</a>
    </nav>
</div>

<!-- Page content -->
<div class="content">
    <main>
        <article>
            <header><h2>Waluty</h2></header>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Waluta</th>
                    <th>Kupno</th>
                    <th>Sprzedarz</th>
                    <th>Trend dniowy</th>
                    <th>Trend tygodniowy</th>
                    <th>Trend miesięczny</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${walutaItems}">
                    <td th:text="${item.nazwa}"></td>
                    <td th:text="${item.kupno}"></td>
                    <td th:text="${item.sprzedarz}"></td>
                    <td th:text="${item.trend_dzien}" name="trend"></td>
                    <td th:text="${item.trend_tydzien}" name="trend"></td>
                    <td th:text="${item.trend_miesiac}" name="trend"></td>
                </tr>
                </tbody>
            </table>
            <div id="chart-timeline"></div>
        </article>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
var trendy = document.getElementsByName('trend');
trendy.forEach(function(o){
  if(Number(o.innerHTML)>0){
    o.style='color:green;';
  }else{
    o.style='color:red;';
  }
})

var usd = [[${usd}]];
var eur = [[${eur}]];
var chf = [[${chf}]];
var gbp = [[${gbp}]];


var dzis = new Date();
dzis.setHours(0,0,0,0);
var rokTemu = dzis;
rokTemu.setFullYear(rokTemu.getFullYear() - 1);

var data = dzis.valueOf();

var usdDane = [];
var chfDane = [];
var eurDane = [];
var gbpDane = [];

for (let i = 0; i < usd.length; i++) {
    usdDane.push([data,usd[i]]);
    chfDane.push([data,chf[i]]);
    eurDane.push([data,eur[i]]);
    gbpDane.push([data,gbp[i]]);
    data = data.valueOf()+86400000;
}



var options = {
    series: [{
    name: 'USD',
    data: usdDane
  },{
    name: 'EUR',
    data: eurDane
  },{
    name: 'CHF',
    data: chfDane
  },{
    name: 'GBP',
    data: gbpDane
  }],
    chart: {
    id: 'area-datetime',
    type: 'line',
    height: 350,
    zoom: {
      autoScaleYaxis: true
    }
  },

  dataLabels: {
    enabled: false
  },
  markers: {
    size: 0,
    style: 'hollow',
  },
  xaxis: {
    type: 'datetime',
    min: rokTemu.getTime(),
    tickAmount: 6,
  },
  tooltip: {
    x: {
      format: 'dd MMM yyyy'
    }
  },
  };

  var chart = new ApexCharts(document.querySelector("#chart-timeline"), options);
  chart.render();

</script>
</body>
</html>